

.footer{
    width: 100dvw;
    height: 20dvh;
    cursor: pointer;
    background: #43cdd700;
}
  
  .container {
    width: 100dvw;
    height: 100dvh;
    background-color: white; /* Fond blanc */
    position: relative;
    overflow: hidden; /* Masque tout ce qui dépasse */
  }
  
  .distorted-oval {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1000px; /* La forme dépasse des côtés */
    height: 1000px; /* Hauteur ajustable */
    background-color: #007bff; /* Couleur de la forme */
    clip-path: path(
        "M 0 100 C 10 90, 20 95, 30 85 S 50 85, 60 95 S 80 90, 100 100 L 100 100 L 0 100 Z"
    ); /* Courbes arrondies */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .distorted-oval p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }