
.container-root{
    overflow-x: hidden;
    background: linear-gradient(#ffffff, #fff4ee);
}

.homepage-sector-1{
    height: 100dvh;
    width: 100dvw;
}

.headerformsvgcircle{
    position: absolute;
    z-index: 0;
}

.upperelementheader{
    z-index: 10;
}
